* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 1200px;
    font-family: "Jura", sans-serif;
    background: url(artistic-blurry-colorful-wallpaper-background.jpg);
    background-size: cover;
    background-attachment: fixed
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
  }

  .logo {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
  }

  .nav-links {
    display: flex;
    gap: 90px;
    list-style-type: none;
    margin-left: 220px;
  }

  .nav-links li {
    display: flex;
    align-items: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
  }

  .nav-links li a:hover {
    color: #d6d6d6;
  }

  .navbarButtons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .loginButton {
    background-color: transparent;
    color: #ffffff;
    height: 48px;
    width: 120px;
    border: #7B1CE0 3px solid;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Jura", sans-serif;
  } 

  .loginButton:hover {
    background-color: #7B1CE0;
    color: #ffffff;
  }

  .registerButton {
    color: #ffffff;
    height: 48px;
    width: 120px;
    background-color: #7B1CE0;
    border: #7B1CE0 3px solid;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Jura", sans-serif;
  }

  .registerButton:hover {
    background-color: transparent;
  }

  header {
    padding: 160px 80px;
  }

  header h1 {
    font-size: 86px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 1100px;
  }

  span {
    background: linear-gradient(90deg, rgba(123, 28, 224, 1) 0%, rgba(209, 130, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  header p {
    font-size: 16px;
    margin-bottom: 80px;
    width: 675px;
  }

  header button {
    background-color: transparent;
    color: #ffffff;
    height: 61px;
    width: 206px;
    border: #7B1CE0 3px solid;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Jura", sans-serif;
  }

  header button:hover {
    background-color: #7B1CE0;
    color: #ffffff;
  }

  #coursesSection {
    padding: 50px 180px;
  }

  #coursesSection h2 {
    margin-top: 5px;
    font-size: 40px;
  }

  #coursesSection .descriptionCourses {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 90px;
    width: 700px;
  }

  #coursesSection .courseCards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  #coursesSection .courseCards .card {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 0.48);
    min-height: 490px;
    min-width: 490px;
    max-height: 490px;
    max-width: 490px;
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 40px;
    transition: 0.3s;
  }

  #coursesSection .courseCards .card:hover {
    transform: scale(1.05);
  }

  #coursesSection .courseCards .card img {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
  }

  #coursesSection .courseCards .card h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  #coursesSection .courseCards .card p {
    width: 285px;
    font-size: 16px;
    margin-bottom: 120px;
  }

  #coursesSection .courseCards .card button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: #ffffff 2px solid;
    border-radius: 15px;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
    cursor: pointer;
  }

  #coursesSection .courseCards .card button:hover {
    background-color: #7B1CE0;
    color: #ffffff;
    border-color: #7B1CE0;
  }

  #informationsSection{
    padding: 150px 180px;
  }

  #informationsSection h2{
    margin-bottom: 15px;
    font-size: 40px;
  }

  #informationsSection button{
    font-size: 16px;
    margin-top: 65px;
    height: 71px;
    width: 192px;
    background-color: transparent;
    color: #ffffff;
    border: #7B1CE0 3px solid;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Jura", sans-serif;
  }

  #informationsSection button:hover{
    background-color: #7B1CE0;
  }

  #informationsSection img{
    height: 700px;
    width: 700px;
  }

  #informationsSection .whylearnProgrammingClass{
    display: flex;
    justify-content: center;
    gap: 90px;
  }

  #informationsSection .whylearnProgrammingClassText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  #informationsSection .methodologyFocusedClass{
    display: flex;
    justify-content: center;
    gap: 90px;
  }

  #informationsSection .methodologyFocusedClassText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  footer {
    border-top: white 1px solid;
    margin: 80px;
    display: flex;
    justify-content: center;
    gap: 350px;
  }

  footer .footerContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
    margin-bottom: 50px;
  }

  footer .footerPersonalSocialMedia {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
  }

  footer .footerIcons {
    display: flex;
    gap: 15px;
    font-size: 24px;
  }