* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: #000000;
    background-color: #E9E9E9;
    font-family: "Jura", sans-serif;
    overflow-x: hidden;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
  }

  .logo {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }

  #userName {
    color: #000000;
  }

  .nav-links {
    display: flex;
    gap: 90px;
    list-style-type: none;
    margin-left: 220px;
  }

  .nav-links li {
    display: flex;
    align-items: center;
  }

  .nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: 0.3s;
  }

  .nav-links li a:hover {
    color: #000000;
  }

  .navbarButtons {
    display: flex;
    align-items: center;
    gap: 30px;
  }


  .logoutButton {
    color: #ffffff;
    height: 48px;
    width: 120px;
    background-color: #7B1CE0;
    border: #7B1CE0 3px solid;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Jura", sans-serif;
  }

  .logoutButton:hover {
    background-color: transparent;
    color: #7B1CE0;
  }

  .fa-user {
    color: #000000;
    font-size: 15px;
    margin-left: 5px;
  }

  header {
  margin-top: 60px;
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  justify-content: center;
}

  .cartStyle {
  height: 60px;
  width: 100%;
  display: flex;
  gap: 9px;
  background-color: #cacaca;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.divNumber1 {
  height: 20px;
  width: 20px;
  background-color: black;
  color: #cacaca;
  border-radius: 50%;
  text-align: center;
  margin-top: 20px;
}

.classNumber1 {
  margin-top: 0px;
  margin-left: -1px;
}

.cartStyleContent {
  margin-top: 19px;
}

.paymentStyle {
  height: 60px;
  width: 100%;
  display: flex;
  gap: 9px;
  background-color: #7e7e7e9f;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.divPayment2 {
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.377);
  color: #a1a1a1;
  border-radius: 50%;
  text-align: center;
  margin-top: 20px;
}

.classPayment2 {
  margin-top: 0px;
}
.paymentStyleContent {
  margin-top: 19px;
  color: rgba(0, 0, 0, 0.37);
}

main {
  margin-left: 360px;
  margin-right: 360px;
  display: block;
}

table {
  margin-top: 30px;
  width: 100%;
}

th {
  padding-bottom: 30px;
  text-align: left;
}

td {
  padding-bottom: 40px;
}

.fa-trash:before {
  margin-left: -15px;
  transition: 0.3s;
}

.fa-trash:hover {
  color: #7B1CE0;
  cursor: pointer;
}

.cartProduct {
  display: flex;
  gap: 15px;
}

.cartProduct img {
  height: 60px;
  width: 60px;
}

.pDescription {
  margin-top: 2px;
  font-size: 13px;
}

#cartSummary {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

input[type="text"],
input[type="number"] {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #000000;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: 0;
}

input::placeholder {
  font-family: "Jura", sans-serif;
}

.cartDeliveryTime {
  width: 280px;
}

.cartCoupon {
  width: 280px;
}

.divSummaryContent {
  display: flex;
  gap: 50px;
  margin-top: 28px;
}

.divSummaryPrice {
  text-align: right;
}

.divSummaryInformations p {
  margin-bottom: 15px;
}

.cartTotalValue {
  margin-bottom: 15px;
}

.cartTotalPurchase {
  margin-bottom: 15px;
}

.cartCalculate {
  margin-bottom: 15px;
}

.labelDeliveryTime {
  font-size: 18px;
}

.labelCoupon {
  font-size: 18px;
}

.cartSummaryTitle {
  font-size: 18px;
}

#buttonContinueToPayment {
  width: 100%;
  font-family: "Jura", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color:#7B1CE0;
  border: 1px solid #7B1CE0;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#buttonContinueToPayment:not(:disabled):hover {
  color: #7B1CE0;
  background-color: transparent;
  border: 1px solid #7B1CE0;
}

.buttonCoupon {
  width: 82px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgb(0, 0, 0);
  font-family: "Jura", sans-serif;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  position: absolute;
  margin-top: 26px;
  margin-left: -88px;
  cursor: pointer;
}

.sectionEmptyCart {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionEmptyCart img {
  margin-top: 70px;
  margin-bottom: 30px;
  height: 300px;
  width: 350px;
}

.sectionEmptyCart h1 {
  font-size: 38px;
}
.sectionEmptyCart p {
  width: 280px;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}

.sectionEmptyCart a {
  border: 1px #7B1CE0 solid;
  color: white;
  background-color: #7B1CE0;
  height: 50px;
  padding-top: 13px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-self: auto;
  font-size: 18px;
  border-radius: 8px;
  gap: 4px;
  text-decoration: none;
  transition: 0.3s;
  
}

.sectionEmptyCart a:hover {
  color: #7B1CE0;
  background-color: transparent;
}

span {
  color: #7B1CE0;
}

.cartStyleInPaymentScreen {
  height: 60px;
  width: 100%;
  display: flex;
  gap: 9px;
  background-color: #cacaca;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paymentStyleInPaymentScreen {
  height: 60px;
  width: 100%;
  display: flex;
  gap: 9px;
  background-color: #7e7e7e9f;
  justify-content: center;
    border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.divPayment2 {
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.377);
  color: #a1a1a1;
  border-radius: 50%;
  text-align: center;
  margin-top: 20px;
}

.classPayment2 {
  margin-top: 0px;
}
.paymentStyleContent {
  margin-top: 19px;
  color: rgba(0, 0, 0, 0.37);
}

.paymentSection {
    display: none;
    justify-content: center;
    margin-top: 65px;
    gap: 20px;
}

.cardPayment {
    width: 450px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:  0px 0px 11px #c4c4c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productsInCart {
  width: 350px;
  height: 160px;
  max-height: 160px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.productsInCart::-webkit-scrollbar {
  display: none;
}

.cardPaymentType p {
  font-weight: bold;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 17px;
}

.cardPaymentType {
    width: 450px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:  0px 0px 11px #c4c4c4;
}

.cartSummaryContent {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.divSummaryContent {
  display: flex;
  gap: 90px;
  margin-top: 28px;
}

.divSummaryPrice {
  text-align: right;
}

.divSummaryInformations p {
  margin-bottom: 15px;
}

.cartTotalValue {
  margin-bottom: 15px;
}

.cartTotalPurchase {
  margin-bottom: 15px;
}

.cartCalculate {
  margin-bottom: 15px;
}

.labelDeliveryTime {
  font-size: 18px;
}

.labelCoupon {
  font-size: 18px;
}

.cartSummaryTitle {
  font-size: 18px;
}

#buttonConfirmPayment {
  width: 352px;
  font-family: "Jura", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color:#7B1CE0;
  border: 1px solid #7B1CE0;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

#buttonConfirmPayment:hover {
  color: #7B1CE0;
  background-color: transparent;
}

#buttonReturnToCart {
  border: none;               
  border-bottom: 1px solid #212121;
  background: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0px;
  width: 125px;
  font-family: "Jura", sans-serif;
  margin-left: 115px;
}

.paymenyMethod {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paymenyMethod img {
  height: 80px;
  width: 130px;
}

.divCoursePayment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.divCourseNameAndPng {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.divCoursePayment img{
  height: 50px;
}